{% extends "../base.html" %}



{% block contenido_cambia %}

    <form action="{% url "AppCoderCursos" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar">
    </form>
    <br><hr>
    <form action="{% url "BuscarCurso" %}">
        {{ form_busqueda.as_p }}
        <input type="submit" value="Buscar">
    </form>
   <br><hr>
    {% if cursos%}
        {% for curso in cursos %}
            <p>curso: {{  curso.nombre }}</p>
            <p>camada: {{  curso.camada }}</p>
        {% endfor %}
    {% else %}
        <h1>No hay cursos en el momento</h1>
    {% endif %}
{%  endblock %}